<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Pagina de inicio</h1>
<hr>
<br>
    <form action="/usuarios" method="post">
        <div>
            <label for="usuario">
                <input type="text" name="usuario" id="usuario" placeholder="Usuario" required=True>
            </label>
        </div>
        <div>
            <label for="clave">
                <input type="password" name="clave" id="clave" placeholder="Clave" required=True>
            </label>
        </div>
        <input type="submit" value="Enviar">
    </form>


</body>
</html>